$tablet-min-width: 576px;
$dekstop-min-width: 1024px;
$effect-Duration: 0.3s;
$main-font-family: Poppins, sans-serif;
$main-color-text: #fff;
$aside-color-text: #1d1d1d;
$main-bg: #1d1d1d;
$aside-bg-color: #C2C2C2;
$placeholder-color: #7E7E83;
$placeholder-size: 14px;
